.center-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 0px;
  background-color: rgb(255, 255, 255);
  height:auto;
  padding:0px 0px;
}
.section-title {
  height: 60px;
  padding: 40px 10px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  gap:10px;
  margin:0px 10px;
}

.section-banner {
  width: 100%;
  height: auto;
  padding: 10px 10px;
  display: block;
  align-items: center;
  box-sizing: border-box;
}


.section-popular-recent-posts {
  height: auto;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap:10px;
  justify-content:center;

}

.section-notice {
  height: 60px;
  margin:5px 10px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border:1px solid #ccc;
  border-radius:5px;
  gap:10px;
  background-color: rgb(221, 235, 221);
}

.popular-board {
    width: 50%;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 15px;
    background-color: #ffffff;
  }

.popular-board h3 {
  font-size: 16px;
  margin-bottom: 15px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 6px;
}

.board-item {
  margin-bottom: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.board-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 6px;
}

.meta-info {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 13px;
  color: #333;
  flex-wrap: wrap;
}

.meta-info span {
  display: flex;
  align-items: center;
  gap: 4px;
}

.meta-info img {
  width: 14px;
  height: 14px;
}

.board-item:last-child {
  margin-bottom: 0;
}


.section-playlist {
  height: 440px;
  margin:5px 10px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border:1px solid #ccc;
  border-radius:5px;
  gap:10px;
  flex-direction: column;
  background-color: rgb(221, 235, 221);
}

.select-button{
    width:auto;
    height:100%;
    border-radius:70px;
    padding:0px 15px;
    font-size:24px;
}

.section-board {
  height: auto;
  margin:5px 10px;
  padding: 10px 10px;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  border:1px solid #ccc;
  border-radius:5px;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
}