.center-wrapper {
  display: flex;               /* flex 컨테이너 */
  flex-direction: column;         /* 가로 정렬 (기본값이긴 하지만 명시해도 좋아요) */
  justify-content: center;     /* 가로 가운데 정렬 */
  align-items: stretch;         /* 세로 가운데 정렬 */
  gap: 0px;                   /* 자식 간 간격 */
  background-color: rgb(255, 255, 255);
  height:auto;
  padding:0px 0px;
}

.section-title {
  height: 60px; /* or auto */
  padding: 40px 10px;  /* ⬅️ 위아래 10px, 좌우 20px */
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}



.section-content-title {
  height: 60px; /* or auto */
  padding: 40px 10px;  /* ⬅️ 위아래 10px, 좌우 20px */
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}



.section-content-info {
  height: 60px; /* or auto */
  padding: 40px 10px;  /* ⬅️ 위아래 10px, 좌우 20px */
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  gap:20px;
}

.section-content-body {
  height: auto; /* or auto */
  padding: 0px 10px;  /* ⬅️ 위아래 10px, 좌우 20px */
  display: flex;
  align-items: flex-start;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  gap:20px;
  flex-direction: column;
  justify-content: flex-start;
}


.align-button{
    background-color: white;
    border-color: white;
    width: auto;
    height: 30px;
}

.section-content-comment-input {
 width: 100%;
  height: auto; /* or auto */
  padding: 0px 10px;  /* ⬅️ 위아래 10px, 좌우 20px */
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap:20px;
  justify-content:right;
  flex-direction: column;
  border-bottom:1px solid
}

.comment-input {
  width: 100%;
  height: 200px;
  padding: 10px;
  line-height: 1.4;
  font-size: 14px;
  resize: none; /* 사용자가 크기 조절 못 하게 */
  box-sizing: border-box;
  justify-self: center;
}


.section-content-comment-list {
  height: 120px; /* or auto */
  padding: 20px 20px;  /* ⬅️ 위아래 10px, 좌우 20px */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  gap:0px;
  flex-direction: column;
}


.section-content-recomment-list {
  height: 150px; /* or auto */
  padding: 20px 20px;  /* ⬅️ 위아래 10px, 좌우 20px */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.section-content-recomment-input {
  padding-top:0px;
  padding-right:20px;
  padding-bottom:20px;
  padding-left:10px;
  height: 180px; /* or auto */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  flex-direction: column;
}